.topbox{
    background: #171d25;
    height: 100px;
    width:100%;
}
body{
    margin:0px;
}
.topbox1{
    background: #171d25;
    height: 100px;
    width: 63%;
    margin: 0px auto;
}
.logo{
    background:#171d25;
    height: 60px;
    width: 170px;
    float:inline-start;
    padding-top: 30px;
}
.top-text{
    height:60px;
    width:620px;
    background:#171d25;
 padding-top: 30px;
}
.text1{
    float: left;
    margin-left: 10px;
    color: white;
    font-size:16x;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    padding-left: 10px;
}
.install{
    
    background: #171d25;
    float: inline-end;
    
    height: 26px;
    width: 252px;
    /* padding-top: 30px; */
    margin-top:-85px ;
}
.install-button{
    background: #171d25;
    height: 26px;
    width: 111px;
}
.p{
    margin:0px;
    font-size: 10px;
    color: white;
    margin-top: -22px;
    margin-left: 120px;
    font-size: 15px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    width: 40px;
}

.install-text{
    float:inline-end;
    background: yellow;
    width:90px ;
    height: 26px;
    margin-top:-21px;
} 
#language{
    background-color: #171d25;
    height:26px;
    width: 100px;
    color: white;
    border-color: #171d25;
}
.scndtopbox{
    height:50px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    /* background: radial-gradient(107.95% 57.49% at 50% 100%, #18253533 0%, #18253585 5%, #182535d9 20%, #182535 60%, #192330 100%); */
    border-bottom: 2px solid;
    background: #1b2838;
    border-bottom-color: #171d25;
}
#options{
    height: 50px;
    width:610px;
    background: transparent;
    margin-left: 333px;
}
.option{
    margin-left: 16px;
    margin-top: 16px;
    border-color:transparent;
    background-color: transparent;
    color: white;
}
.mainbody{
    height:2512px;
    width: 100%;
    background: #1b2838;
}
.maincontent{
    height:513px;
    width: 100%;
    background:#1b2838 ;
    /* padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden; */
}
.searchbar{
    height:37px ;
    width:500px;
    background: #1b2838;
    float: inline-end;
    margin-top: -43px;
    padding-right: 326px;
}
    .search{
    height: 32px;
    width: 424px;
    background-color:#80808059;
    color:white;
    border-color:white;
    border:1px;
}
    .search-logo{
    height: 34px;
    width:37px;
    float:right;
    background: #171d25;
    margin-right: 35px;
}
    .mainheading{
    height:56px;
    width: 90%;
    background:#1b2838;
    margin-left: 100px;
}
    .content-title{
    font-family: "Motiva Sans", Sans-serif;
    color: white;
    margin: 0px;
    padding-left: 383px;
    padding-top: 36px;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: normal;
}
    .mainimage1{
    height: 351px;
    width: 940px;
    background: #1b2838;
    margin-left: 476px;
}
    .maincontent-box{
    /* display: flex; */
    height: 406px;
    width: 100%;
    background-color: #1b2838;
    /* justify-content: center;
    align-items: center; */

}
    .left-arrow{
    height: 110px;
    width: 41px;
    background: #16202d;
    margin-top: -230px;
       margin-left: -40px;
    float: left;
}
    .right-arrow{        
    /* height: 110px;
    width: 41px;
    background: #16202d; */
    /* position: absolute;
    top: 855px;
    left: 435px; */
    /* margin-top:120px;
    float: left;
    margin-left: 435px; */
    height: 110px;
    width: 41px;
    background: #16202d;
    margin-top: 120px;
    margin-right: 448px;
    float: right;
}
    .right-arrow1{
    height: 110px;
    width: 41px;
    background: #16202d;
    /* position: absolute;
    top: 855px;
    left: 435px; */
    margin-top:-200px;
    float: left;
    margin-left: 435px;
}
    .left-arrow1{
    height: 110px;
    width: 41px;
    background: #16202d;
    margin-top: 138px;
    margin-right: 448px;
    float: right;}
    
    .maincontent1{
    height:513px;
    width: 100%;
    background:#1b2838 ;
    /* padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden; */
    margin-top: -65px;
}
/* .text2{
       float: left;
    margin-left: 10px;
    color: white;
    font-size:16x;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    padding-left: 10px;
    margin-left: 10px;
    color: white;
    font-size:16x;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    padding-left: 10px;   
} */
 .sub-content{
    height:300px;
    width: 100%;
    background:#1b2838 ;
    margin-top: 103px;  
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
 }
 .sub-images{
    background: black;
    /* margin-top: 30px; */
    height: 219px;
    width: 225px;
    
    margin-bottom: 41px;
    /* padding-left: 50px; */
    margin-top:-36px;
    border-radius: 5px;
 }
 .sub-text{
    margin-left: 486px;
    flex-basis: 100%;
    margin-top: 0px;
    color: white;
    font-family: "Motiva Sans", Sans-serif;
    font-size: 14px;
 }
 .sub-photos{
    height:219px ;
    width: 225px;
    border-radius: 5px;
 }
 .sub-leftarrow{
    height: 110px;
    width: 41px;
    background: #16202d;
    margin-left: 0px;
    position: absolute;
    left: 447px;
    bottom: 104px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
 }
 .sub-rightarrow{
    height: 110px;
    width: 41px;
    background: #16202d;
    margin-left: 0px;
    position: absolute;
    right: 447px;
    bottom: 104px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
 }
 .signin{
    height: 202px;
    width: 100%;
    background: transparent;
    display:flex;
    justify-content: center;
    align-items: center;
 }
 .signin-box{
    height:160px ;
    width:940px;
    background:#16202d;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }
 .sub-content{
    height:300px;
    width: 100%;
    background:#1b2838 ;
    margin-top: 103px;  
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
 }
 .sub-images{
    background: black;
    /* margin-top: 30px; */
    height: 219px;
    width: 225px;
    
    margin-bottom: 41px;
    /* padding-left: 50px; */
    margin-top:-36px;
    border-radius: 10px;
 }
 .sub-text{
    margin-left: 486px;
    flex-basis: 100%;
    margin-top: 0px;
    color: white;
    font-family: "Motiva Sans", Sans-serif;
    font-size: 14px;
 }
 .sub-photos{
    height:219px ;
    width: 225px;
    border-radius: 10px;
 }.sub-content{
    height:300px;
    width: 100%;
    background:#1b2838 ;
    margin-top: 103px;  
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
 }
 .sub-images{
    background: black;
    /* margin-top: 30px; */
    height: 219px;
    width: 225px;
    
    margin-bottom: 41px;
    /* padding-left: 50px; */
    margin-top:-36px;
    border-radius: 5px;
 }
 .sub-text{
    margin-left: 486px;
    flex-basis: 100%;
    margin-top: 0px;
    color: white;
    font-family: "Motiva Sans", Sans-serif;
    font-size: 14px;
 }
 .sub-photos{
    height:219px ;
    width: 225px;
    border-radius: 5px;
 }.bottom-content{
    height:159px;
    width: 100%;
    background:#1b2838 ;
    /* margin-top: 135px;   */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
 }
 .bottom-images{
    background: rgb(230, 227, 227);
    margin-top: -170px;
    height: 58px;
    width: 229px;
     background: linear-gradient( to right,#06BFFF, #2D73FF);
    margin-bottom: 41px;
    /* padding-left: 50px; */
    margin-top:-36px;
    border-radius: 5px;
 }
 .bottom-text{
    margin-left: 486px;
    flex-basis: 100%;
    /* margin-top: 155px; */
    color: white;
    font-family: "Motiva Sans", Sans-serif;
    font-size: 14px;
    font-weight: 10px;

 }
 /* .bottom-photos{
  height: 58px;
    width: 229px;
    border-radius: 5px;
 } */
  .bottom-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Motiva Sans", Sans-serif;
    color: white;
    font-weight: 550;
  }
 .signin-bottom {
    height:160px ;
    width: 100%;
    background:#000000;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .final-text{
    height:160px ;
    width:940px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .final-box{
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .hr-1{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.342);
    height: 1px;
    border: 0px;
    margin-top: -33px;
  }
  .last-image1{
    float: inline-start;
    /* flex-basis:100%; */
    width: 88px;
    height: auto;
    /* margin-left: -850px; */
    /* display: inline-block; */
  }
  #last-image2{
    float: inline-end;
    /* flex-basis:100%; */
    width: 88px;
    height: auto;
    margin-left: 850px;
    /* display: inline-block; */
    margin-top: -27px;
  }
  .hr-2{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.342);
    height: 1px;
    border: 0px;
  }